@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-column justify-content-center align-items-center" style="height:50vh;">
    <h1 class="display-6 text-light">مرحبًا بك في نظام قياس السلوك الخاص بنا! نحن ممتنون لتواجدك هنا، حيث يسعدنا أن نكون جزءًا من تجربتك في قياس وتحليل السلوك.</h1>
    </div>
