<div class="d-flex flex-column justify-content-center align-items-center" style="height:40vh;">
    <h6 class="text-light text-center mt-auto">اضغط ابدأ لعرض الاسئلة</h6>
    <div class="d-flex justify-content-center align-items-center mt-out">
        <a class="btn btn-primary" href="/Question/GetQuestions?currentPage=1">ابدأ</a>
    </div>
</div>
